body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.intro {
    padding: 0 10%;
    font-family: 'Hero', arial;
    background-color: #0a306d;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
}

.links1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
    gap: 10px;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.maintxt {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.secdtxt {
    font-size: 15px;
    color: #8b8c8d;
}

.signup {
    display: flex;
    flex-wrap: wrap;
    max-width: 40vw;
    gap: 10px;
}

.bsignup{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    padding: 8px 32px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #8b8c8d;
    color: white;
}

.title2 {
    padding: 80px 10%;
    background-color: white;
    font-family: 'Hero', arial;
}

.header2 {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 24px;
}

.BOX {
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    border: 2px solid blue;
    border-radius: 16px;
    margin-bottom: 10px;
}

.word {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100px
}

.title3 {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 80px 10%;
    font-family: 'Hero', arial;
    gap: 20px;
}

.quote {
    font-style: italic;
    font-size: 24px;
    font-weight: 100;
}

.quoteby {
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-weight: bold;
}

.title4 {
    background-color: rgba(0, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    padding: 80px 10%;
    font-family: 'Hero', arial;
}

.sign {
    display: flex;
    background-color: #83b3ff;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

.top {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.bottom {
    font-weight: 100;
    color:lightgrey;
    font-size: 16px;
}

.lastb {
    border: 2px solid white;
    background-color: #83b3ff;
    border-radius: 12px;
    padding: 6px 18px;
}



